body, h1, h2, h3, h4, dl, dt, dd, ul, ol, li, a, div, em, span, img, form, input, p, i {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box; }

header, footer, nav, article, aside, figure, figcaption {
    padding: 0;
    margin: 0; }

body {
    color: #333333;
    font-weight: 400;
    text-rendering: optimizelegibility;
    box-sizing: border-box; }

em, i {
    word-wrap: break-word;
    font-style: normal; }

a {
    color: #333333;
    text-decoration: none; }

a:link, a:visited, a:active {
    color: #44AEF2;
    text-decoration: none; }

ul, li {
    list-style: none; }

img {
    max-width: 100%;
    vertical-align: bottom;
    border: 0; }

input[type="button"], input[type="text"], input[type="submit"], input[type="search"], input[type="email"], input[type="number"], input[type="phone"],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-image: none;
    border-image: none;
    -webkit-border-radius: 0;
    border-radius: 0; }

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden; }

html, body {
    -webkit-text-size-adjust: 100%;
    font-family: Microsoft Yahei, Helvetica, sans-serif;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 20px;
    background: #f1f2ec; }

@media all and (max-width: 414px) {
    html, body {
        font-size: 24px; } }
@media all and (max-width: 375px) {
    html, body {
        font-size: 22px; } }
@media all and (max-width: 320px) {
    html, body {
        font-size: 14px; } }
#page4{

}
#page4 .images{
    width:100%;
    height:200px;
}