#page1 image {
    width: 100%;
    height: 200px;
}
#page1.list{
    border-bottom:1px solid #999999;
}
#page1 .list li{
    padding:10px;
    display:-webkit-box;
    height: 120px;
    border-bottom:1px solid #999999;

}
#page1 .list .shopImage{

    width:120px;

}
#page1 .list li img{
    width:100px;
    height:100px;
    border-radius: 5px;
}
#page1 .list .blurb{
   font-size:.7rem;
    -webkit-box-flex: 1;
}
#page1 .list .blurb{
    word-wrap:break-word;
}
#page1 .instruction {
    margin-top:10px;
}
#page1 .instruction span{
    border:1px solid ;
    border-radius: 3px;
    margin-right:7px;
    font-size:.6rem;
}
#page1 .instruction .ins-1{
    color:green;
}
#page1 .instruction .ins-2{
    color:red;
}
#page1 .instruction .ins-3{
    color:#fd9225;

}
#page1 .price{
    position:relative;
    margin-bottom:0;
    color:#999999;
    margin-top:10px;
}
#page1 .price .price-1{
    color:#fd9225;
    font-size:20px;
}