#page1 {
  //头部
  header {
    a {
      display: block;
      position: absolute;
      left: 6px;
      top: 7px;
      text-align: center;
      z-index: 9999;
    }
  }
  //主要内容
  .storeSet {
    margin-top: 2.7rem;
    margin-left: 1.4rem;
    a {
      display: inline-block;
      width: 5rem;
      height: 5rem;
      text-align: center;
      font-size: 12px;
      margin-bottom: 1rem;
      margin-left: 0.8rem;
      color: #ffffff;
      vertical-align: middle;
    }
    .peopleManage {
      background: #5BA1AB;
      .icon {
        display: inline-block;
        width: 46px;
        height: 28px;
        background: url(../../../static/images/icon-6.jpg) no-repeat;
        background-size: cover;
        margin-top: 1rem;
      }
    }
    .workingHours {
      background: #7C7DAB;
      .icon1 {
        display: inline-block;
        width: 32px;
        height: 28px;
        background: url(../../../static/images/icon-1.jpg) no-repeat;
        background-size: cover;
        margin-top: 1rem;
      }
    }
    .carType {
      background: #9E7C97;
      .icon2 {
        display: inline-block;
        width: 37px;
        height: 28px;
        background: url(../../../static/images/icon-2.jpg) no-repeat;
        background-size: cover;
        margin-top: 1rem;
      }
    }
    .balanceSet {
      background: #A7A1AB;
      .icon3 {
        display: inline-block;
        width: 25px;
        height: 28px;
        background: url(../../../static/images/icon-3.jpg) no-repeat;
        background-size: cover;
        margin-top: 1rem;
      }
    }
    .bespokeSet {
      background: #9882B0;
      .icon4 {
        display: inline-block;
        width: 22px;
        height: 28px;
        background: url(../../../static/images/icon-4.jpg) no-repeat;
        background-size: cover;
        margin-top: 1rem;
      }
    }
    .printerSet {
      background: #C3B18E;
      .icon5 {
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url(../../../static/images/icon-5.jpg) no-repeat;
        background-size: cover;
        margin-top: 1rem;
      }
    }
  }
}

